/*....................................................*/
/*Времени в обрез поэтому пишу как школьник, извиняйте*/
/*....................................................*/

* {
  margin: 0;
  padding: 0;
}

html, body, #app {
  min-height: 100vh;
}

body {
  font-family: Roboto;
}

/*.........HEADER............*/
.header {
  height: 100vh;
  background: linear-gradient(150deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%),
  url(./images/bg_login.jpg) no-repeat center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header__text {
  text-align: center;
  color: #fff;
}

.header__title {
  font-size: 6rem;
}

.header__subtitle {
  margin-top: 1rem;
}

.nav__link {
  text-decoration: none;
}

.nav__link-nav {
  margin-left: 15px;
}

.scroll-down {
  position: absolute;
  bottom: 30px;
}

.scroll-down .scroll-down__link span {
  color: #fff;
  font-size: 36px;
}

/*..........SECTION INPUT..............*/

.none {
  display: none;
}

section {
  padding: 1rem 0;
}

.section__input {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section__input h2 {
  font-size: 3rem;
}
.section__input h2, p {
  text-align: center;
  padding-bottom: 1rem;
}

.textarea {
  width: 100%;
  display: block;
  margin: 0 auto;
  max-width: 600px;
  resize: none;
  font-size: 1.2rem;
  border: none;
  font-weight: 300;
  margin-bottom: 20px;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
}

.textarea:focus {
  outline: 0;
}

.transp__redactor-button {
  text-align: center;
}

.button__help {
  margin-left: 10px;
}

.example-text p {
  text-align: left;
  padding-bottom: 0;
}

/*..........SECTION OUTPUT..............*/

.section__output-сhords {
  padding-top: 1rem;
}

.section__output-сhords h3 {
  text-align: center;
  margin: 1rem 0;
}

.akkord__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 80%;
  margin: 0 auto;
}

.akkord__list li {
  padding: 0 1rem;
  list-style: none;
  width: 10rem;
}

.akkord__list li p {
  padding-bottom: 0;
  font-weight: bold;
  font-size: 2rem;
}

.akkord__list li img {
  width: 100%;
}

.section__output-button {
  margin: 1rem 0;
  text-align: center;
}

.dialog__nav {
  text-align: center;
}

/*..........PAGE SONGWRITER..............*/
.songwriter {
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: stretch;
}

.sidebar {
  min-width: 220px;
  min-height: 100vh;
  background: rgba(243, 243, 243, 0.5);
  flex: 1;
  -webkit-box-shadow: 3px 0px 10px 0px rgba(184, 184, 184, 1);
  -moz-box-shadow: 3px 0px 10px 0px rgba(184, 184, 184, 1);
  box-shadow: 3px 0px 10px 0px rgba(184, 184, 184, 1);
}

.main {
  flex: 3;
  color: rgba(0, 0, 0, 0.87);
}

.main__root {
  text-align: center;
  margin-top: 50px;
}

.main__root h1 {
  padding: 5px 0;
}

.main__header {
  padding: 1rem;
  display: flex;
  flex-direction: row;
}

.main__header h1 {
  flex-basis: 100%;
}

.main__text, .main__chords {
  padding: 1rem;
}

.main__chords h2 {
  margin-bottom: 1.5rem;
}

.main__chords .akkord__list {
  width: 100%;
}

.dialog__text {
  text-align: center !important;
}

/*..........PAGE LOGIN..............*/

.login {
  height: 100vh;
}

.login__bg {
  position: absolute;
  height: 99%;
  width: 99%;
  background-position: 50% 50%;
}

.login__wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(/images/bg_login.jpg);
  background-size: cover;
}

.login__form {
  max-width: 450px;
  width: 100%;
  background: #fafafa;
  padding: 2rem 1rem;
  text-align: center;
}

.login__form h1 {
  text-align: center;
  color: rgb(95, 95, 95);
  text-transform: uppercase;
  padding-bottom: 30px;
}
